<div class="hello">
  <h1>Update Task</h1>
  <%= form_with(model: @task) do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
     <%= form.hidden_field :project_id %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
<style>
  .hello{
    content: center;
    padding-left: 40%;
    background-color: lightyellow;
  }
</style>