<div class="hello">
  <h1>Edit Project</h1>
  <%= form_with(model: @project) do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @project.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
    <%= form.label :project_Type %><br>
    <%= form.select :project_type, Project.types.map { |key, value| [key.humanize, key] } %>
  </div><br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>
<style>
  .hello{
    content: center;
    padding-left: 40%;
    background-color: lightyellow;
  }
</style>