<% if !user_signed_in? %>
<img src="https://media.istockphoto.com/photos/project-management-with-icons-about-planning-tasks-and-milestones-on-picture-id1135541613" alt="image" class="center" style="width:1000px ">  
<style>
	.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
<% end %>
<% if user_signed_in? %>
<div class="hello">
  <h1>All User Projects</h1>
<table style="width:70%">
  <tr>
    <th>Project name</th>
    <th>project type</th>
    <th>Project edit</th> 
    <th>Delete</th>
  </tr>
  <% @projects.each do |project| %>
  <tr>
    <td><%= link_to project.name, project_path(project) %></td>
    <td><%= project.project_type %></td>
    <td><%= link_to "Edit", edit_project_path(project) %></td>
    <td><%= link_to "Destroy", project,
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></td>
  </tr>
  <% end %>
</table>
<br>

<%= link_to 'New Project', new_project_path %>
</div>
<style>
  .hello{

    padding-left: 40%;
    background-color: lightblue;
  }
</style>
<% end %>