<div class="hello">
  <p id="notice"><%= notice %></p>
  <h1><%= @project.name %></h1>
  <p><b>Project Type:</b><%= @project.project_type %></p>
  <h1>Tasks</h1>
  <div>
      <div style="float: left;">
        <table style="width:70%">
        <tr>
          <th>Task name</th>
          <th>Task edit</th>
          <th>Task delete</th>
        </tr>
        <% @tasks.each do |task| %>
           <tr>
              <td><%= task.name %></td>
              <td><%= link_to "edit", edit_task_path(task_id: task.id) %></td>
              <td><%= link_to "delete", task,
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></td> 
            </tr>
        <% end %>
        </table>
      </div>
      <div style="float: right;">
        <table style="width:70%">
        <tr>
          <th>attachment</th>
          <th>edit</th>
          <th>delete</th>
        </tr>
        
        <% @attachments.each do |attachment| %>
        <% if attachment.image.present? %>
          <% @arr1 =Array.new() %>
          <% @arr1 = "http://192.168.1.148:3000/" %>
          <% @arr2 =  attachment.image.path %>
          <% @arr3 = Array.new() %>
          <% @arr3 = @arr2.split('public/') %>
          <% @arr4 = Array.new() %>
          <% @arr4 = @arr1 + @arr3[1] %>
          <% img = @arr4 %>

          
           <tr>
            <td><%= link_to "view" , @arr4, target: "_blank" %></td>
              <!-- <td></td> -->
              <td><%= link_to "edit", edit_attachment_path(attachment_id: attachment.id) %></td>
              <td><%= link_to "delete", attachment,
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></td> 
            </tr>
        <% end %>
        <% end %>
        
        </table>
      </div>
       <%= link_to 'New Attachment', new_attachment_path %><br>
       <%= link_to 'New Task', new_task_path %><br>
       <%= link_to 'Back', projects_path %>
  </div>
  <br>
 
</div>
<style>
	.hello{
    padding-left: 20%;
    padding-right: 20%;
	}
</style>