<h2><%= t('devise.registration') %></h2>

<%= google_authenticator_qrcode(resource) %>

<%= form_for(resource, :as => resource_name, :url => [:refresh, resource_name, :displayqr], :html => {:method => :post}) do |f|%>
	<p><%= f.submit t('newtoken', {:scope => 'devise.registration'}) %></p>
<% end %>

<%= form_for(resource, :as => resource_name, :url => [resource_name, :displayqr], :html => { :method => :put }) do |f| %>
	<%= devise_error_messages! %>
	<h3><%= t('nice_request', {:scope => 'devise.registration'}) %></h3>
	<p><%= f.label :gauth_enabled, t('qrstatus', {:scope => 'devise.registration'}) %><br />
	<%= f.check_box :gauth_enabled %></p>
	<%= f.hidden_field :tmpid, value: @tmpid %>
	<p><%= f.label :gauth_token, t('enter_token', {:scope => 'devise.registration'}) %><br />
	<%= f.number_field :gauth_token, :autocomplete => :off %>

	<p><%= f.submit t('submit', {:scope => 'devise.registration'}) %></p>
<% end %>

